// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.articles-container {
  width: 600px;
  margin:20px auto;
}

a {
  color: #337ab7;
  text-decoration: none;
}

.navbar-brand {
  color: #777;
}
